asgiref==3.2.7
astroid==2.4.2
atomicwrites==1.4.0
attrs==19.3.0
autopep8==1.5.3
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
colorama==0.4.3
coverage==5.1
cryptography==2.9.2
defusedxml==0.6.0
dj-database-url==0.5.0
Django==3.0.12
django-allauth==0.42.0
django-cors-headers==3.4.0
django-filter==2.3.0
django-filters==0.2.1
django-heroku==0.3.1
djangorestframework==3.11.0
drf-nested-routers==0.91
flake8==3.8.3
gunicorn==20.0.4
idna==2.9
isort==4.3.21
jwt==1.0.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
more-itertools==8.4.0
mysqlclient==1.4.6
oauthlib==3.1.0
packaging==20.4
Pillow==7.1.2
pluggy==0.13.1
psycopg2==2.8.5
ptvsd==4.3.2
py==1.8.2
pycodestyle==2.5.0
pycparser==2.20
pyflakes==2.2.0
PyJWT==1.7.1
pylint==2.5.3
pyparsing==2.4.7
pytest==5.4.3
pytest-cov==2.10.0
python-http-client==3.2.7
python3-openid==3.1.0
pytz==2019.3
requests==2.23.0
requests-oauthlib==1.3.0
sendgrid==6.3.1
six==1.14.0
sqlparse==0.3.1
toml==0.10.1
urllib3==1.25.9
wcwidth==0.2.5
whitenoise==5.1.0
wrapt==1.12.1
